{{ partial "head.html" . }}
{{ partial "header.html" . }}


<div class="container-1300 centered">
  <h1>{{ .Title }}</h1>


<div class="flex">
  <div class="full half-700 third-900">
    <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" style="max-width:100%;">
  </div>
  <div class="full half-700 two-third-900">
    {{ .Content }}
    <!-- <a href="#" class="button">Learn More</a> -->
  </div>
</div>
<hr>


  <style>

  figure{
    margin: .5em;
  }

</style>

<h2 id="encyclopedia">Encyclopedia</h2>
<small>categories:</small>
{{ range $.Site.Taxonomies.tags.ByCount }}
{{ if gt .Count 0 }}
    <a class="chip" href="/tags/{{ .Name }}" class="shyButton">{{ .Name }}<small>&nbsp;({{ .Count }})</small></a>
{{ end }}
{{end}}


  <div id="grid" class="flex two three-900 four-1200">
  {{ range.Pages }}

  <div class="picture-item__inner">
    <figure class="" >
      <a href="{{ .RelPermalink }}">
      {{ if .Params.thumbnail }}
      <div class="aspect aspect--16x9">
        <div class="aspect__inner">
	    {{ $img := resources.Get .Params.thumbnail }}
	    {{ with $img }}
	    	<img src="{{ (.Fill "448x252 q90 Center").RelPermalink }}" />
	    {{ end }}
        </div>
      </div>
     {{ end }}
      <figcaption>{{ .Title }}</figcaption>
      </a>
    </figure>
  </div>

  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
