{{ partial "head.html" . }}
{{ partial "header.html" . }}


<div class="container-1300 centered">
  <h1>{{ .Title }}</h1>

  {{ partial "aardvark-advantage.html" . }}
  <hr>
  {{ .Content }}

  <style>

  figure{
    margin: .5em;
  }

</style>

<h2>Encyclopedia</h2>
<small>categories:</small>
{{ range $.Site.Taxonomies.tags.ByCount }}
{{ if gt .Count 0 }}
    <a class="chip" href="/tags/{{ .Name }}" class="shyButton">{{ .Name }}<small>&nbsp;({{ .Count }})</small></a>
{{ end }}
{{end}}


  <div id="grid" class="flex two three-900 four-1200">
  {{ range.Pages }}

  <div class="picture-item__inner">
    <figure class="" >
      <a href="{{ .RelPermalink }}">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner">
	    {{ $img := resources.Get .Params.thumbnail }}
	    {{ with $img }}
	    	<img src="{{ (.Fill "448x252 q90 Center").RelPermalink }}" />
	    {{ end }}
        </div>
      </div>
      <figcaption>{{ .Title }}</figcaption>
      </a>
    </figure>
  </div>

  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
