{{ partial "head.html" . }}
{{ partial "header.html" . }}


<div class="container-1300 container">
{{ partial "breadcrumb.html" . }}
<h1>{{ .Title }}</h1>
<div>{{ .Content }}</div>

{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
<h3>{{ $.Page.Title }} Products</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}" title="{{ .Title }}">
		<img src="{{.Thumbnail}}" alt="{{ .Title }}"/><br>
		{{ .Title }}
	</a></li>
	{{ end }}
</ul>
{{ end }}




</div>

{{ partial "footer.html" . }}
