{{ partial "head.html" . }}
{{ partial "header.html" . }}


<div class="container-1000 container">
{{ partial "breadcrumb.html" . }}
<h1>{{ .Title }}</h1>
<div>{{ .Content }}</div>

{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
<hr>
<h3>{{ $.Page.Title }} Products</h3>
<div id="grid" class="flex two three-900 four-1200">
	{{ range . }}
  <div class="picture-item__inner">
    <figure class="">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner">
          <img src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
        </div>
      </div>
      <figcaption>{{ .Title }}</figcaption>
      </a>
    </figure>
  </div>
	{{ end }}
  </div>
{{ end }}

</div>

{{ partial "footer.html" . }}
