</main>

<footer>

  <!-- <div class="social-bar">
    <img class="social-icon" src="/imgs/icon-instagram.png">
    <img class="social-icon" src="/imgs/youtube.png">
    <img class="social-icon" src="/imgs/icon-facebook.png">
  </div> -->

  <div class="flex center">

      <div class="full fourth-800">
       <div class="card-contact">      
        <p>
        <span>
          <small>Contact Us:</small> (253) 531-3441</span>
        <br>
        <span>
          <small>Email:</small> sales@aardvarkbark.com</span>
        </p>
        <p>
        <small>Mailing Address</small><br>
        <address>
          4906 112th St E, Ste B
          <br>Tacoma, Washington
        </address>
        </p>
       </div>
     </div>


    <div class="full three-fourth-800">
      <div class="menu-expanded-wrap">

      <section class="menu-expanded">
        <span>Products</span>
        <ul>
			{{ range where .Site.Pages.ByTitle "Section" "products" }}
				{{ .Render "li" }}
			{{ end }}
        </ul>
      </section>

      <section class="menu-expanded">
      <span>Info</span>
        <ul>
			{{ range where .Site.Pages.ByTitle "Section" "info" }}
				{{ .Render "li" }}
			{{ end }}
        </ul>
      </section>

        <section class="menu-expanded">
        <span>Services</span>
        <ul>
			{{ range where .Site.Pages.ByTitle "Section" "services" }}
				{{ .Render "li" }}
			{{ end }}
        </ul>
        </section>

      </div>
    </div>


  </div>

  <div class="text-center legalinfo">
    <br>
    <small>
      Licensed AARDVBB931QT | Bonded SH3660 | Insured ACPGLO7566201041 <br>
      <em>&copy; Copywrite {{ dateFormat "2006" now }} Aardvark Bark LLC</em>
    </small>
  </div>
</footer>


</body>

</html>
