<header>
  <div class="header flex">
    <div class="full third-800 two-fifth-1000 logo-wrap">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}imgs/aardvarkbark-logo-red.png" alt="Aardvark Bark Blowing & Landscape serving Tacoma, Puyallup, Seattle, Puget Sound" class="logo">
      </a>
    </div>
    <div class="full two-third-800 three-fifth-1000 header-text">
      <p class="phone-wrap"><a class="header-phone" href="tel:253-531-3441">253-531-3441</a></p>
      <h1 class="site-title">Aardvark Bark</h1>
      <h2 class="site-subtitle">Bark Blowing & Landscaping</h2>
      <p class="tagline">The #1 bark blower and playground surface provider in Washington</p>
    </div>
  </div>
</header>
{{ partial "auto-nav.html" . }}
