<nav id="primary_nav_wrap">
  <ul>

    <li><a href="#">Home</a>

    </li>

    <li><a href="#">Products</a>
      <ul>
        <li><a href="#">Medium Red Bark</a></li>
        <li><a href="#">Fine Red Bark</a></li>
        <li><a href="#">Fine Dark Bark</a></li>
      </ul>
    </li>

    <li><a href="#">Services</a>
      <ul>
        <li><a href="#">Play Chips</a></li>
        <li><a href="#">Blower Truck</a></li>
        <li><a href="#">Slinger Truck</a></li>
      </ul>
    </li>

    <li><a href="#">Info</a>
      <ul>
        <li><a href="#">Aardvark Advantage</a></li>
        <li><a href="#">Encyclopedia</a></li>
      </ul>
    </li>

    <li><a href="#">Contact</a></li>
    <li><a href="#">Calculator</a></li>
    <li><a href="#">Maps</a></li>

  </ul>
</nav>
