<div style="overflow:hidden;width: 900px;position: relative;">
  <iframe width="900" height="600" src="https://maps.google.com/maps?width=900&amp;height=600&amp;hl=en&amp;q=Tacoma%2C%20WA+(Bark)&amp;ie=UTF8&amp;t=h&amp;z=9&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"></div>
  <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>
