
<style>
.review-wrap{background: #fff;padding:1.5em;position:relative;}
.reviewer{font-size:1.2em;}
.review{font-size:1.2em;font-weight:600;}
.reviewdate{color:#777;}
.reviewtext{line-height:1.5;}
.sociallink{max-width:32px;position:absolute;top:.5em;right:.5em;}
.facebookblue{color:#4267b2;}
.googleorange{color:#e7711b;}
.yelpred{color:#d32323;}
</style>

<br><br>

<div class="container-1500 centered flex full three-900">
{{ range last 3 ((where .Site.RegularPages "Section" "reviews").ByDate ) }}
<div style="align-self:center">
	<div class="review-wrap">
		<a href="https://www.google.com/search?hl=en&amp;q=aardvark%20bark#lrd=0x5490fdeeefc24043:0x7ef3491845589b4a,1,,," target="_blank" style="">
		  <span class="reviewer">{{ .Params.reviewer_name }}</span>
		</a>
		<span class="review googleorange"> ★★★★★</span>
		<br>
		<!--<span class="reviewdate">{{ .Date }}</span>-->
		<a target="_blank" href="https://www.google.com/search?hl=en&amp;q=aardvark%20bark#lrd=0x5490fdeeefc24043:0x7ef3491845589b4a,1,,," style="outline-width: 0px !important; user-select: auto !important;">
			<img src="/imgs/IC-google.png" class="sociallink">
		 </a>
		<p class="reviewtext">
		{{ .Params.review_text | safeHTML | truncate 400 }}
		</p>
	</div>
</div>
{{end}} 

</div> 
