<style>
.testimonial {
  position: relative;
  width: 80%;
  padding: .5em;
  border: 1px dashed #ddd;
  border-radius: .5em;
  margin: auto;
  margin-bottom: .5em;
  background: #f8eeef;
  box-shadow: 1px 1px 2px #231f1e;
  }
  .testimonial p {
    margin-left: 64px;
    margin-bottom: .5em;
    padding-left: 12px;
    border-left: 1px solid #d2b8bb;
    font-family: sans-serif;
  }
  .testimonial::before {
    content: url('imgs/quote-icon.png');
    width: 24px;
    color: #aaa;
    position: absolute;
    top: .5em;
    left: .5em;
  }
.testimonial span {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.testimonial span::before {
  content: "-";
}
.testimonial small{
  padding-left: .5em;

}
</style>

<!-- <div class="testimonial none full-1300">
  <p>They did an AMAZING job! I am really happy with their professionalism, politeness, communication, attention to detail and the quality of the product! Not to mention they were able to schedule me within a week. Highly recommended!</p>
  <span>Kim M.<small>Seattle, WA</small></span>
</div>
<div class="testimonial">
  <p>This is an amazing company! Super professional from the office staff to the staff delivering the bark to the daycare. Polite, courteous and very efficient. The daycare playground looks amazing. They quality of the playchips is great and we will use them again! Thank you, Aardvark!</p>
  <span>Regina P.<small>Graham, WA</small></span>
</div> -->
<!-- https://www.google.com/search?q=Aardvark%20Bark%20Blowing%20%26%20Landscape%20Services%2C%20LLC&ludocid=9147735636711086922#lrd=0x0:0x7ef3491845589b4a,1 -->
<span class="yelp-review" data-review-id="a_1Dfsnc4DluxRcXJecZKA" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=waQ66d_DsY0AiWQfdsT9tA" rel="nofollow noopener">Kim M.</a>'s <a href="https://www.yelp.com/biz/aardvark-bark-blowing-and-landscape-services-tacoma?hrid=a_1Dfsnc4DluxRcXJecZKA" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/dFgBfj1J2O77jCA93HUZgA" rel="nofollow noopener">Aardvark Bark Blowing & Landscape Services</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
